.home-background {
    background-image: url('../../../assets/images/main.jpg');
}

.article-image {
    background-size: cover;      
    background-position: center;
    object-fit: cover;
}

:host ::ng-deep {
    .p-avatar {
        border: 1px solid var(--p-green-800);
        background-color: var(--p-green-50);
        color: var(--p-green-800);
    }

    .p-card {
        background: var(--p-surface-50);
    }
}