@use './tailwind.css';
@import "primeicons/primeicons.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


html {
  font-size: 16px;
  background: var(--p-primary-100);
  color: var(--p-primary-700);
  font-family: "Playfair Display", serif;
}

.card {
  background: var(--p-primary-50);
}

.text-highlight {
  color: var(--p-primary-green);
  font-weight: 600;
}

strong {
    color: var(--p-green-800)
}

:root {
  --p-button-info-background: var(--p-green-800) !important;
  --p-button-info-hover-background	: var(--p-green-700) !important;
  --p-button-info-border-color	: var(--p-green-800) !important;
  --p-button-info-hover-border-color  : var(--p-green-700) !important;
  --p-button-info-color	: var(--p-neutral-50) !important;
  --p-button-info-hover-color	: var(--p-neutral-50) !important;
  --p-button-info-active-background	: var(--p-green-800) !important;
  --p-button-info-active-border-color	: var(--p-green-800) !important;
  --p-tooltip-background: var(--p-green-800) !important;
}

.home-main-content {
  background-color: var(--p-surface-50);
}

.article-image {
  background-size: cover;      
  background-position: center;
  object-fit: cover;
}

.inverse {
  background-color: var(--p-green-900);
  color: var(--p-neutral-50);
}